<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to root_path, class: 'navbar-brand' do %>
				<%= image_tag "groopall.png", alt: "groopall", class: "", height: '98%' %>
			<% end %>
		</div>
<!--
		<ul class="nav navbar-nav navbar-right">
			<li>
				<%= link_to new_groop_path, style: 'font-size: 1.2em;' do %>
					<i class="fa fa-user-plus" aria-hidden="true"></i>
				<% end %>
			</li>
		</ul> -->
	</div><!-- container-fluid -->
</nav>
