<div class="nested-fields">
	<div class="row">
		<div class="col-xs-12">
			<small>Name</small>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-11">
			<%= f.input :name, label: false %>
		</div>
		<div class="col-xs-1">
			<%= link_to_remove_association f, class: "remove-color center" do %>
				<i class="fa fa-minus-circle" aria-hidden="true"></i>
			<% end %>
		</div>
	</div>
</div>
