<div id="groops-index">
	<div class="col-md-8 col-md-offset-2">
		<div id="all-groops">
			<%= render 'loop_of_groops' %>
		</div>

		<div class="add-friends">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						Scroll down to<br>
						add friends!
						<h1>
							<i class="fa fa-arrow-down" aria-hidden="true"></i>
						</h1>
					</div>
				</div>
			</div>
		</div>

		<div id="new-groop">
			<%= render "new_groop" %>
		</div>
	</div>
</div><!-- #groops-index -->
